article h1 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 0.625em;
}
article h3{
	font-size: 1em;
	font-weight: 600;
	padding-bottom: 1.125em;
	border-bottom: 1px solid #D2D2D7;
}
article ul {
	margin: 1.125em;
	padding-top: 1.250em;
	font-size: 1.125em;
}
article ul li a {
	color: #809CF5;
	text-decoration: none;
}